.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.skills h2 {
    width: 100%;
    text-align: center;
}
.skills .wrap {
    display: flex;
    flex-direction: column;
}
.skills .wrap .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills .wrap .row > div {
    margin: 40px;
}
.skills .row > div {
    padding: 8px;
    width: 300px;
    height: 276px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.front-end, .client {
    background-color: #9FAABE;
}
.back-end, .tool {
    background-color: #C3B8B4;
}
.wrap div h4 {
    font-size: 20px;
    text-align: center;
}
.lang {
    width:100%;
    display: flex;
    flex-direction: column;
}
.lang > div {
    width: 100%;
    margin: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
}
.lang > div input {
    margin: 4px;
    width:70%;
    -webkit-appearance: none;
    background: white;
    border-radius: 10px;
}

.lang > div > label {
    background-color: white;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Content h2 {
    font-family: 'Thinoo-Bold';
}